<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <%= link_to "Back to comments", comments_path %>
  <%= link_to "Destroy this comment", publication_comment_path(@comment.publication, @comment, action: :destroy), data: { confirm: "¿Estás seguro de borrar este comentario?" } %>

</div>
